<h1>Restaurants <small> {{(restaurants|filter:myFilter(currentTag)).length}} of {{restaurants.length}}</small><span ng-show="currentTag != ''"><small> ({{currentTag}} <span ng-click="removeTag()" class="icon-remove"></span>)</small></span></h1>
<div class="span4">
<table id="rtable" class="table table-striped">
  <thead>
    <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Tags</th>
        <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="restaurant in restaurants | filter:myFilter(currentTag)">
      <td>
        <a href="/restaurants/{{restaurant.id}}">
          {{restaurant.name}}
        </a>
      </td>
      <td>
        {{restaurant.rating}}
      </td>
      <td>
	{{restaurant.tag_list.join(', ')}}
      </td>
      <td>
	{{restaurant.comment}}
      </td>
    </tr>
  </tbody>
</table>
<p>
  <a href='/restaurants/new' class="btn btn-primary">
    <i class="icon-plus"></i>New
  </a>
</p>
</div>
