<form name="newRestaurant">
  <fieldset>
    <legend>
      New Restaurant
    </legend>
      <div class="control-group">
        <label class="control-label">
          Name
        </label>
        <div class="controls">
            <input type="text"
                   name="restaurant[name]"
                   ng-model="restaurant.name"
                   class="text_field"
                   required>
          <span ng-show="newRestaurant.name.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Rating
        </label>
        <div class="controls">
            <input type="number"
                   name="restaurant[rating]"
                   ng-model="restaurant.rating"
                   class="number_field"
                   required>
          <span ng-show="newRestaurant.rating.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      <div class="control-group">
        <label class="control-label">
          Tags
        </label>
        <div class="controls">
            <input type="text"
                   name="restaurant[tag_list]"
                   ng-model="restaurant.tag_list"
                   class="text_field">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Comment
        </label>
        <div class="controls">
            <input type="text"
                   name="restaurant[comment]"
                   ng-model="restaurant.comment"
                   class="text_field">
        </div>
      </div>
    <div class="form-actions">
      <button class="btn btn-success" ng-click="save()"
        ng-disabled="isClean() || newRestaurant.$invalid">
        <i class="icon-save"></i> Save
      </button>
      <button ng-click="destroy()"
              ng-show="restaurant.id"
              class="btn btn-danger">
              <i class="icon-trash"></i> Delete
      </button>
      <a href="/restaurants" class="btn">Return to restaurants</a>
    </div>
  </fieldset>
</form>

